.wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  margin: 0 20px 40px;
  min-width: 250px;
  padding: 20px ;
  text-align: center;
}
  
.wrapper > img {
  height: 100px;
}
  