<div>
  <div class="searchBox">
    <input
      type='text'
      placeholder='City'
      [(ngModel)]="searchText"
      (keypress)="keyPressed($event)"
    />

    <div>
      <button (click)="fetchWeather()" [disabled]="loading">
        {{loading ? 'Loading...' : 'Get weather'}}
      </button>
    </div>

    <div *ngIf="error">Error trying to fetch a forecast</div>
  </div>

  <div class="weatherList">
    <app-weather-card *ngFor="let weather of weatherList$" [data]="weather"></app-weather-card>
  </div>
</div>